.sidenav-header {
    padding-top: 24px;
    text-align: center;


    >img {
        border-radius: 100%;
        object-fit: cover;
        margin-bottom: 16px;
    }

    .header-text {

        >h3 {
            margin: 0;
            font-size: 1.25rem;
            line-height: 1.5rem;
            font-weight: 500;
        }

        >p {
            margin: 0;
            font-size: 0.875rem;
            line-height: 1.25rem;
        }
    }

}


mat-divider.sunken {
    height: 2px;
    border: none;
    background: #e0e0e0; // más claro que #ccc
    box-shadow: 
      inset 0 1px 2px rgba(0, 0, 0, 0.25),  // sombra menos intensa
      inset 0 -1px 1px rgba(255, 255, 255, 0.5); // brillo más notorio
    margin: 16px auto;
    width: 90%;
    border-radius: 2px;
  }

.label {
    transition: opacity 0.3s ease, visibility 0.3s ease;
    white-space: nowrap;
}

.label.hidden {
    opacity: 0;
    visibility: hidden;
    display: none;
}