<div class="sidenav-header">
    <img [width]="imgWidth" [height]="imgWidth" [src]="userImg" alt="user photo" />
    <div *ngIf="!collapsed" class="header-text">
        <h3>Francisco J. Pinto</h3>
        <p>Desarrollador Full Stack</p>
    </div>
</div>

<mat-divider class="sunken"></mat-divider>

<mat-nav-list>
    <a mat-list-item *ngFor="let item of menuItems()" 
    [matTooltip]="collapsed ? item.label : ''" matTooltipPosition="right"
    [routerLink]="item.route" 
    routerLinkActive="active-link">
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        <span class="menuLabel" matListItemTitle matLine [class.hidden]="collapsed" >{{ item.label }}</span>
    </a>
</mat-nav-list>