
.sidenav-header {
    padding-top: 24px;
    text-align: center;


    > img {
        border-radius: 100%;
        object-fit: cover;
        margin-bottom: 16px;
    }

    .header-text {

        > h3 {
            margin: 0;
            font-size: 1.25rem;
            line-height: 1.5rem;
            font-weight: 500;
        }

        > p {
            margin: 0;
            font-size: 0.875rem;
            line-height: 1.25rem;
        }
    }

}

mat-divider {
    border: none;
    height: 4px;
    width: 80%;
    margin: 24px auto; // centra y da separación vertical
    background-color: #8b8a8a; // gris oscuro
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); // sombra suave
    opacity: 0.95;
  }
  
  .label {
    transition: opacity 0.3s ease, visibility 0.3s ease;
    white-space: nowrap;
  }
  
  .label.hidden {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
  
  