
footer {
    background-color: var(--footer-background);
    color: var(--text-color);
    text-align: center;
    padding: 15px;
    font-size: 14px;
    bottom: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
  }
  